div.container {
    background-color: rgb(60, 155, 245);
    padding: 30px;
    margin: 0 auto;
    border-radius: 15px;
}

#form {
    width: 80%;
    background-color: blanchedalmond;
    padding: 30px;
    margin: 0 auto;
}