div.container {
    background-color: rgb(173, 204, 233);
    padding: 30px;
    margin: 0 auto;
    border-radius: 15px;
}

#form {
    width: 80%;
    background-color: blanchedalmond;
    padding: 30px;
    margin: 0 auto;
    border-radius: 15px;
}