<div *ngIf="furniture | async as f" class="container">
    <div class="row space-top">
        <div class="col-md-12">
            <h1>Furniture Details</h1>
        </div>
    </div>
    <div class="row space-top">
        <div class="col-md-6">
            <div class="card text-white bg-dark">
                <div class="card-body bg-info">
                    <blockquote class="card-blockquote">
                        <img src="{{f.image}}" />
                    </blockquote>
                </div>
            </div>
        </div>
        <div id="info" class="col-md-6 bg-primary">
            <p><b>Make: </b>{{f.make}}</p>
            <p><b>Model: </b>{{f.model}}</p>
            <p><b>Year: </b>{{f.year}}</p>
            <p><b>Description: </b>{{f.description}}</p>
            <p><b>Price: </b>{{f.price}}</p>
            <p><b>Material: </b>{{f.material}}</p>
        </div>
    </div>
</div>