img {
    width: 250px;
    height: auto;
}

#main {
    margin-bottom: 20px;
}

h1,
h3 {
    padding-bottom: 20px;
    padding-top: 20px;
    color: rgb(253, 195, 6);
    font-size: 1.8em;
    text-shadow: 3px 3px 3px rgb(41, 18, 104);
}

#info {
    padding-left: 100px;
    color: black;
}

#info>p {
    color: #0277bd;
    font-size: 18px;
}

#sendReview {
    margin-top: 15px;
    background-color: rgb(179, 210, 240);
}

ul {
    list-style-type: none;
}

#userReview {
    background-color: rgb(119, 182, 245);
    margin: 50px auto;
    padding: 30px;
}

div.card-body {
    background-color: rgb(179, 210, 240);
}

div.container {
    background-color: rgb(179, 210, 240);
    padding: 15px;
    margin: 0 auto;
    border-radius: 15px;
}

form {
    width: 80%;
    background-color: #53b1e7;
    padding: 30px;
    margin: 0 auto;
    border-radius: 15px;
    color: white;
}

#image-holder {
    border-radius: 15px;
}

button.btn {
    border-radius: 10px;
    background-color: rgb(91, 76, 134);
    color: white;
    padding: 0.5rem 1rem;
}

li {
    color: white;
    font-size: 18px;
}

input,
select {
    border-radius: 10px;
}

button#back {
    position: relative;
    left: 20%;
    margin-top: 20%;
    border-radius: 10px;
    background-color: rgb(91, 76, 134);
    color: white;
    padding: 0.5rem 1rem;
}

div#back-button {
    padding: 0;
}