img {
    width: 250px;
    height: auto;
}

#main {
    margin-bottom: 20px;
}

h1,
h3 {
    padding-bottom: 20px;
    padding-top: 20px;
    color: rgb(253, 195, 6);
    font-size: 1.8em;
    text-shadow: 3px 3px 3px rgb(41, 18, 104);
}

#info {
    padding-top: 20px;
    color: black;
}

#sendReview {
    margin-top: 15px;
    background-color: rgb(233, 193, 145);
}

ul {
    list-style-type: none;
}

#userReview {
    background-color: lightcyan;
    margin: 50px auto;
    padding: 30px;
}

div.card-body {
    background-color: rgb(226, 240, 240);
}

div.container {
    background-color: rgb(226, 240, 240);
    padding: 15px;
    margin: 0 auto;
    border-radius: 15px;
}

form {
    width: 80%;
    background-color: blanchedalmond;
    padding: 30px;
    margin: 0 auto;
    border-radius: 15px;
}

#image-holder {
    border-radius: 15px;
}