img {
    width: 160px;
    height: 120px;
    margin-bottom: 5px;
}

div.container-fluid {
    width: 100%;
    background-color: rgb(190, 227, 250);
    margin: 0 auto;
}

h2 {
    color: rgb(245, 189, 4);
    font-size: 1.8em;
    text-shadow: 3px 3px 3px rgb(50, 22, 126);
}

p {
    color: rgb(245, 189, 4);
    font-weight: bold;
    font-size: 18px;
}

h1 {
    text-shadow: 3px 3px 3px rgb(50, 22, 126);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

blockquote {
    margin-bottom: 0px;
    color: white;
}

blockquote>p {
    color: white;
}

footer {
    margin-top: 3px;
}

div.container {
    background-color: rgb(193, 218, 241);
    padding: 30px;
    margin: 0 auto;
    border-radius: 15px;
}

form {
    width: 80%;
    background-color: blanchedalmond;
    padding: 30px;
    margin: 0 auto;
    border-radius: 15px;
}

div.card {
    background-color: rgb(212, 228, 243);
}

div.card-body {
    padding-bottom: 0px;
    background-color: rgb(156, 202, 245);
}

a.btn {
    border-radius: 10px;
    background-color: #0277bd;
    color: white;
    padding: 0.5rem 1rem;
}

button {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: #0277bd;
    color: white;
    /* float: right; */
}

div.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

#inner {
    width: 50%;
    margin: 0 auto;
}