input {
    border-radius: 10px;
}

label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif;
}

div.container-fluid {
    width: 100%;
    background-color: rgb(190, 227, 250);
    margin: 0 auto;
}

p {
    color: gold;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}

div>p {
    color: rgb(245, 189, 4);
    font-size: 1.8em;
    text-shadow: 3px 3px 3px rgb(50, 22, 126);
}

h1 {
    text-shadow: 3px 3px 3px rgb(50, 22, 126);
}

div.container {
    background-color: rgb(173, 204, 233);
    padding: 30px;
    margin: 0 auto;
    border-radius: 15px;
}

form {
    width: 80%;
    background-color: blanchedalmond;
    padding: 20px;
    margin: 0 auto;
    border-radius: 15px;
}

input.btn {
    border-radius: 10px;
    background-color: #0277bd;
    color: white;
    margin-top: 15px;
    width: 20%;
    padding: 0.5rem 1rem;
}

input#image-holder {
    border-radius: 10px;
    background-color: blanchedalmond;
    display: inline-block;
    width: 60%;
    margin-left: 10px;
    margin-right: 10px;
}