img {
    width: 160px;
    height: 120px;
    margin-bottom: 5px;
}

div.container-fluid {
    width: 100%;
    background-color: rgb(190, 227, 250);
    margin: 0 auto;
    padding: 20px 0 20px 0;
}

blockquote {
    margin-bottom: 0px;
    color: white;
}

blockquote>p {
    color: white;
}

img {
    width: 140px;
    height: 140px;
    margin-bottom: 5px;
}

blockquote>img,
div.pull-right,
blockquote>footer {
    padding-top: 10px;
    padding-bottom: 15px;
}

#search {
    border-color: black;
}

p {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

button {
    margin: 10px;
    border-radius: 10px;
    background-color: #0277bd;
    color: white;
    padding: 0.5rem 1rem;
}

a.btn {
    border-radius: 10px;
    background-color: #0277bd;
    color: white;
    padding: 0.5rem 1rem;
}

div.card-body {
    padding-bottom: 0px;
    background-color: rgb(156, 202, 245);
}