ul {
    width: 100%;
}

.navbar {
    background-color: rgb(7, 61, 116);
    color: white;
}

li#logout {
    float: right;
    margin-left: 400px;
    margin-right: 0;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: lightgrey;
    font-size: 1.1em;
}

a.navbar-brand {
    color: white;
}

li#logout:hover {
    background-color: lightcoral;
}