ul {
    width: 100%;
}

.navbar {
    background-color: rgb(7, 61, 116);
    color: white;
}

li#logout {
    float: right;
    margin-left: 400px;
    margin-right: 0;
}

.nav-link {
    color: white;
}

.nav-item:hover {
    color: rgb(12, 100, 216);
    font-size: 1.1em;
    background-color: rgba(215, 236, 245, 0.952);
}

a.navbar-brand {
    color: white;
}

li#logout:hover {
    background-color: rgba(247, 156, 144, 0.952);
}

img {
    background-color: white;
    width: 100%;
    height: auto;
}

span.navbar-toggler-icon {
    margin-left: 10px;
    margin-left: 10px;
}

a {
    font-size: 14px;
}

div.dropdown-menu,
li.nav-item {
    border-radius: 10px;
}