body {
    background-color: blanchedalmond;
}

div {
    background-color: blanchedalmond;
}

#main {
    background-color: beige;
}

h1 {
    height: 200px;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 5px 5px 8px rgb(34, 51, 82);
}

h2,
h3 {
    font-style: normal;
    text-transform: none;
    color: darkslateblue;
    text-shadow: 3px 3px 3px rgb(185, 164, 243);
}

input#search {
    border-color: black;
    border-radius: 10px;
}

#search-div {
    margin: 30px auto;
    padding: 30px;
    border: 2px solid darkslateblue;
    border-radius: 15px;
}

img {
    width: 140px;
    height: 120px;
}

blockquote>img,
div.pull-right,
blockquote>footer {
    padding-top: 15px;
    padding-bottom: 15px;
}

p {
    color: rgb(245, 189, 4);
    font-size: 1.8em;
}