<div id="main">
    <h1>
        Hello {{username}} !
    </h1>
    <div *ngIf="!authService.isAuthenticated()">
        <p>This is our landing page, if you want to see our furniture, you must login.</p>
    </div>
</div>

<h2>Find a furniture</h2>
<div *ngIf="authService.isAuthenticated()" id="search-div" class="content badge">
    <div [hidden]="isSearched">

        <form #searchForm="ngForm" (submit)="searchFurniture(searchForm.value.search)">
            <h3>Search for a furniture using the form below:</h3>
            <input id="search" type="text" class="form-control" name="search" ngModel #search="ngModel">
            <br>
            <button type="submit" class="btn btn-dark">Search</button>
        </form>
    </div>
</div>
<div *ngIf="isSearched" class="row space-top">
    <!-- <div class="container">
        <div class="panel-body" *ngIf="isSearched">
            <div class="col-md-4">
                <p>{{searchedFurnitures | json}}</p>
            </div>
        </div>
    </div> -->
    <div *ngFor="let f of searchedFurnitures" class="col-md-4">
        <div class="card text-white bg-pdark">
            <div class="card-body bg-info">
                <blockquote class="card-blockquote bg-dark">
                    <img src="{{f.image}}" />
                    <p>{{f.description}}</p>
                    <footer>
                        <cite title="Source Title">Famous in {{f.year}}</cite>
                    </footer>
                    <div class="pull-right">
                        <a routerLink="../furniture/details/{{f.id}}" class="btn btn-dark">Details</a>
                    </div>
                </blockquote>
            </div>
        </div>
    </div>

</div>