img {
    width: 160px;
    height: 120px;
    margin-bottom: 5px;
}

div.container-fluid {
    width: 100%;
    background-color: rgb(190, 227, 250);
    margin: 0 auto;
}

h1,
h2,
h4 {
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(79, 78, 82);
    text-shadow: 3px 3px 3px rgb(138, 137, 141);
}

h3 {
    color: rgb(79, 78, 82);
    padding: 5px 10px 5px 5px;
    text-transform: capitalize;
    border: 1px solid rgb(79, 78, 82);
    /* text-shadow: 1px 1px 2px rgb(153, 151, 156); */
}

blockquote {
    margin-bottom: 0px;
    color: white;
}

blockquote>p {
    color: white;
}

div.card-body {
    padding-bottom: 0px;
}

div.container {
    background-color: rgb(173, 204, 233);
    padding: 30px;
    margin: 0 auto;
    border-radius: 15px;
}

form {
    /* width: 80%; */
    background-color: rgb(223, 205, 179);
    padding: 30px;
    margin: 0 auto;
    border-radius: 15px;
}

#main {
    background-color: beige;
}

input#search {
    border-color: black;
    border-radius: 10px;
    background-color: white;
    color: rgb(158, 145, 126);
}

#search-div {
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

img {
    width: 140px;
    height: 140px;
    margin-bottom: 5px;
}

blockquote>img,
div.pull-right,
blockquote>footer {
    padding-top: 10px;
    padding-bottom: 15px;
}

#search {
    border-color: black;
}

p {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

#stats {
    margin: 0 auto;
}

button {
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(91, 76, 134);
    color: white;
    padding: 0.5rem 1rem;
}

#isShown {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

#landing {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: white;
    text-shadow: 3px 3px 3px rgb(43, 43, 44);
}

a.btn {
    border-radius: 10px;
    background-color: rgb(91, 76, 134);
    color: white;
    padding: 0.5rem 1rem;
}

div.card-body {
    padding-bottom: 0px;
    background-color: rgb(156, 202, 245);
}