<div id="main" classs="container-fluid">
    <h1>
        Hello {{username}} !This is our furniture page!
    </h1>
    <div id="landing" *ngIf="!username">
        <h4>This is our landing page, if you want to see our furniture, you must <a routerLink="/signin">  Log in.</a></h4>
    </div>
    <div class="row space-top">
        <div id="stats" class="text-center">
            <button class="btn h4 p-3" (click)="showStatistic()">Show  statistic</button>
            <div class="row" *ngIf="isShown" id="isShown">
                <h3>Furniture: {{furnitureStatistic | json}} Users: {{usersStatistic | json}}</h3>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!!authService.isAuthenticated()" id="search-div" class="content badge">
    <div>
        <h2>Find a furniture</h2>
        <form #searchForm="ngForm" (submit)="searchFurniture(searchForm.value.search)">
            <h4>Search for a furniture using the form below:</h4>
            <input id="search" type="text" class="form-control" name="search" ngModel #search="ngModel">
            <br>
            <button type="submit" class="btn">Search</button>
        </form>
    </div>
</div>
<div *ngIf="searchedFurnitures" class="row space-top">
    <div *ngFor="let f of searchedFurnitures | paginate: {
            id: 'allFurniture',
            itemsPerPage: pageSize,
            currentPage: currentPage
        }" class="col-md-4">
        <div class="card text-white bg-info">
            <div class="card-body">
                <blockquote class="card-blockquote">
                    <img src="{{f.image}}" />
                    <!-- <p class="text-left text-center">{{f.make}}</p> -->
                    <p class="text-left text-center">{{f.model}}</p>
                    <p class="text-left text-center">{{f.description}}</p>
                    <p class="text-left text-center">Likes:{{f.likes.length}}</p>

                    <div class="pull-right">
                        <a routerLink="../furniture/details/{{f.id}}" class="btn">Details</a>
                    </div>
                    <footer>
                        <cite title="Source Title">  Produced in {{f.year}}</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<br>
<pagination-controls id="allFurniture" (pageChange)="changePage($event)" maxSize="9" directionLinks="true" autoHide="true" previousLabel="Previos" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">

</pagination-controls>